[Unit]
Description=Redshift display colour temperature adjustment

[Service]
Environment=DISPLAY=:0
ExecStart=/usr/bin/redshift -c %h/.config/redshift.conf
Restart=always
RestartSec=20

[Install]
WantedBy=default.target
