directory.default.set = ~/torrents/
session.path.set = ~/torrents/.session
schedule2 = watch_directory,5,5,load.start=~/downloads/*.torrent
schedule2 = untied_directory,5,5,stop_untied=

network.local_address.set = 127.0.0.1
network.bind_address.set = 127.0.0.1

network.port_range.set = 6890-6999
network.port_random.set = no

dht.mode.set = auto
protocol.pex.set = yes
trackers.use_udp.set = yes

throttle.min_peers.normal.set = 20
throttle.max_peers.normal.set = 60
throttle.min_peers.seed.set = 10
throttle.max_peers.seed.set = 30
throttle.global_down.max_rate.set_kb = 0
throttle.global_up.max_rate.set_kb = 0

throttle.max_uploads.set = 10

network.http.max_open.set = 50
network.max_open_files.set = 600
network.max_open_sockets.set = 300

encryption = allow_incoming,require,try_outgoing,enable_retry

# ipv4_filter.load = ~/blocklist.txt, unwanted

# vi: set syn=dosini cms=#%s:
