! vim: ft=xdefaults cms=!%s

! # define FONT               Liberation Mono-9
!   URxvt*letterSpace:        -2
URxvt*letterSpace:        -1


Xft.antialias:              1
Xft.autohint:               0
Xft.dpi:                    96
Xft.hinting:                1
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcddefault
Xft.rgba:                   rgb

URxvt.perl-ext-common:      url-select,font-size

URxvt.keysym.C-S-Up:        font-size:increase
URxvt.keysym.C-S-Down:      font-size:decrease

URxvt.url-select.launcher:  bin/launch
URxvt.url-select.underline: true
URxvt.keysym.M-C-u:         perl:url-select:select_next

URxvt*termName:             rxvt-256color
URxvt*geometry:             80x20
URxvt*internalBorder:       0
URxvt*iso14755:             false
URxvt*scrollBar:            false
URxvt*colorUL:              #458588
URxvt*underlineColor:       #458588
URxvt*cursorColor:          #00ff00
URxvt*keysym.C-9:           command:\033]720;12\007
URxvt*keysym.C-0:           command:\033]721;12\007

URxvt*boldFont:       xft:Liberation Mono:pixelsize=14:style=Bold,xft:Symbola
URxvt*font:           xft:Liberation Mono:pixelsize=14:style=Normal,xft:Symbola

*background: #282828
! Dark #1d2021
! Light #32302f
*foreground: #ebdbb2
! Black + DarkGrey
*color0:  #282828
*color8:  #928374
! DarkRed + Red
*color1:  #cc241d
*color9:  #fb4934
! DarkGreen + Green
*color2:  #98971a
*color10: #b8bb26
! DarkYellow + Yellow
*color3:  #d79921
*color11: #fabd2f
! DarkBlue + Blue
*color4:  #458588
*color12: #83a598
! DarkMagenta + Magenta
*color5:  #b16286
*color13: #d3869b
! DarkCyan + Cyan
*color6:  #689d6a
*color14: #8ec07c
! LightGrey + White
*color7:  #a89984
*color15: #ebdbb2
