! vim: ft=xdefaults cms=!%s
#include "/home/veggie/gruvbox.xresources"
#include "/home/veggie/rofi.xresources"
#define FONT                Terminess Powerline
! #define FONT                Fantasque Sans Mono

Xft.antialias:              1
Xft.autohint:               0
Xft.dpi:                    96
Xft.hinting:                1
Xft.hintstyle:              hintfull
Xft.lcdfilter:              lcddefault
Xft.rgba:                   rgb

URxvt.perl-ext-common:      url-select,font-size

URxvt.keysym.C-S-Up:        font-size:increase
URxvt.keysym.C-S-Down:      font-size:decrease

URxvt.url-select.launcher:  /home/veggie/bin/launch
URxvt.url-select.underline: true
URxvt.keysym.M-u:           perl:url-select:select_next

URxvt*termName:             rxvt-256color
URxvt*geometry:             80x20
URxvt*internalBorder:       0
URxvt*iso14755:             false
URxvt*scrollBar:            false
URxvt*colorUL:              #458588
URxvt*underlineColor:       #458588
URxvt*letterSpace:          0
URxvt*lineSpace:            1
URxvt*keysym.C-9:           command:\033]720;12\007
URxvt*keysym.C-0:           command:\033]721;12\007
URxvt*boldFont:             xft:FONT:size=10:Bold
URxvt*italicFont:           xft:FONT:size=10:Italic
URxvt*boldItalicFont:       xft:FONT:size=10:Italic:Bold
URxvt*font:                 xft:FONT:size=10:Bold,\
                                      xft:Liberation Mono for Powerline
